@media (max-width: 767px) {
    
body{
    height: 300vh;
}
.img-container {
    width: 100%; 
    height: 45rem; 
    background-image: url('https://i.postimg.cc/FHBrmMMZ/pexels-ana-tinca-264849644-13314210.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.hero{
    font-family: 'Times New Roman', Times, serif;
}
.hero a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.hero h2{
    padding-top: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    transition: 0.4s ease-in;
    letter-spacing: 0.3rem;
}

.nav-bar ul {
    list-style-type: none;
    display: block; 
    text-align: center; 
    margin: 0; 
    padding: 0; 
}

.nav-bar ul li {
    margin: 10px 0; 
}

.nav-bar ul li a {
    display: block; 
    font-size: 1rem;
    letter-spacing: 0.3rem;
    padding: 0rem 1rem;
    transition: 0.25s ease-in-out;
}

.nav-bar ul li a:hover {
    background-color: rgba(229, 229, 229, 0.1);
    border-radius: 0.4rem;
    letter-spacing: 0.2rem;
}

 
.social-buttons {
    font-size: 0.5rem;
    font-weight: 100;
    color: white;
    letter-spacing: 0.4rem;
    position: absolute; 
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%); 
}

.social-buttons a i{
    font-size: 1rem;
    transition: 0.2s ease;
}
.social-buttons a i:hover{
    font-size: 1.5rem;
}



/*hero end*/

.section-one{
    padding: 1rem 1.5rem;
    background: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.section-one h1{
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.part-one {
    display: flex;
    align-items: flex-start;
    padding-top: 1rem;
}
.text-container h3{
    font-size: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0.1rem;
}
.text-container p{
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
}

.part-one .text-container {
    margin-right: 0rem; 
}

.part-two {
    display: block; 
    padding-top: 1rem;
}

.part-two .text-container-2 {
    text-align: center; 
    margin-left: 0; 
}

.part-two img {
    display: block; 
    margin: 2rem 0rem; 
    max-width: 100%; 
    height: auto;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease-in-out;
}

.part-two img:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 35px rgba(0, 0, 0, 0.6);
}

.text-container-2 h3 {
    font-size: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0.1rem;
}

.text-container-2 p {
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
}

.part-two h3, .part-two p {
    margin: 0;
}

}