@media (max-width: 700px) {
    
    body{
        height: 300vh;
        background-color: white;
    }
    .img-container {
        width: 100%;  
        height: 100vh; 
        background-image: url('https://i.postimg.cc/FHBrmMMZ/pexels-ana-tinca-264849644-13314210.jpg'); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
    }
     
    .hero{
        font-family: 'Times New Roman', Times, serif;
    }
    .hero a{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    .hero h2{
        padding-top: 3rem;
        font-size: 1.5rem;
        font-weight: 400;
        transition: 0.4s ease-in;
        letter-spacing: 0.3rem;
    }
    
    .nav-bar ul {
        list-style-type: none;
        display: block; 
        text-align: center; 
        margin: 0; 
        padding: 0; 
    }
    
    .nav-bar ul li {
        margin: 10px 0; 
    }
    
    .nav-bar ul li a {
        display: block; 
        font-size: 1rem;
        letter-spacing: 0.3rem;
        padding: 0rem 1rem;
        transition: 0.25s ease-in-out;
    }
    
    .nav-bar ul li a:hover {
        background-color: rgba(229, 229, 229, 0.1);
        border-radius: 0.4rem;
        letter-spacing: 0.2rem;
    }
    
     
    .social-buttons {
        font-size: 0.5rem;
        font-weight: 100;
        color: white;
        letter-spacing: 0.4rem;
        position: absolute; 
        bottom: 1.5rem;
        left: 50%;
        transform: translateX(-50%); 
    }
    
    .social-buttons a i{
        font-size: 1rem;
        transition: 0.2s ease;
    }
    .social-buttons a i:hover{
        font-size: 1.5rem;
    }
    
    
    
    
    
    /*hero end*/

    /* side page hero*/
    
    /*section-1 start */ 

    .section-1{
        background-color: white;
    }
    
    /*section-1 end*/

    /* second page */
    .container {
        flex-direction: column;
        padding: 1rem;
    }
    .text-section {
        padding: 1rem;
        margin-right: 0;
    }
    .image-section {
        padding: 1rem;
    }
    .text-section h1 {
        font-size: 2em;
    }
    .text-section p {
        font-size: 0.9em;
    }
    .arrows {
        margin-top: 10px;
    }
    
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
 